data/wsdl/ServiceForXmachine0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServiceForXmachine/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="ServiceForXmachine" targetNamespace="http://www.example.org/ServiceForXmachine/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServiceForXmachine/">
    <xsd:element name="checkResultParame">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="checkData" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
      <xsd:element name="checkResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:portType name="ServiceForXmachine">
    <wsdl:operation name="checkResult">
      <wsdl:input message="tns:checkResultRequest"></wsdl:input>
      <wsdl:output message="tns:checkResultResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:message name="checkResultRequest">
    <wsdl:part name="parameters" element="tns:checkResultParame"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkResultResponse">
    <wsdl:part name="parameters" element="tns:checkResultResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:binding name="ServiceForXmachineSOAP" type="tns:ServiceForXmachine">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkResult">
      <soap:operation soapAction="http://www.example.org/ServiceForXmachine/checkResult" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="ServiceForXmachine">
    <wsdl:port binding="tns:ServiceForXmachineSOAP" name="ServiceForXmachineSOAP">
      <soap:address location="http://www.tianjinoms.com/default/xmachine-soap/web-service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>