data/wsdl/ServiceForOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServiceForOrder/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ServiceForOrder" targetNamespace="http://www.example.org/ServiceForOrder/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/ServiceForOrder/">
			<xsd:complexType name="HeaderRequest">
				<xsd:sequence>
					<xsd:element name="customerCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="appToken" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="appKey" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

      <xsd:element name="getTaxByCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HeaderRequest" type="tns:HeaderRequest" />
            <xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getTaxByCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ask" type="xsd:int" maxOccurs="1" minOccurs="1" />
            <xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="data" type="tns:orderTaxDetail" maxOccurs="1" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="orderTaxDetail">
        <xsd:sequence>
          <xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="1" />
          <xsd:element name="referenceNo" type="xsd:string" maxOccurs="1" minOccurs="1" />
          <xsd:element name="orderStatus" type="xsd:int" maxOccurs="1" minOccurs="1" />
          <xsd:element name="taxPrice" type="xsd:double" maxOccurs="1" minOccurs="1" />
          <xsd:element name="skuDetail" type="tns:orderSkuTaxDetail" maxOccurs="unbounded" minOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="orderSkuTaxDetail">
        <xsd:sequence>
          <xsd:element name="sku" type="xsd:string" maxOccurs="1" minOccurs="1" />
          <xsd:element name="quantity" type="xsd:int" maxOccurs="1" minOccurs="1" />
          <xsd:element name="declaredPrice" type="xsd:double" maxOccurs="1" minOccurs="1" />
          <xsd:element name="taxNo" type="xsd:string" maxOccurs="1" minOccurs="1" />
          <xsd:element name="taxRate" type="xsd:double" maxOccurs="1" minOccurs="1" />
          <xsd:element name="taxPrice" type="xsd:double" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

			<xsd:element name="createOrder">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="HeaderRequest" type="tns:HeaderRequest"></xsd:element>
						<xsd:element name="OrderInfo" type="tns:OrderInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createOrderResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="ask" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="error" type="tns:errorType" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
                        <xsd:element name="referenceNo" type="tns:errorType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="OrderInfo">
				<xsd:sequence>

					<xsd:element name="orderModel" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="warehouseCode" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="toWarehouseCode"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabCounty" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="oabStateName" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="oabCity" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabDistrict" type="xsd:string" maxOccurs="1" minOccurs="0" />
					<xsd:element name="smCode" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="referenceNo" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="trackingNumber" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabName" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>

					<xsd:element name="oabCompany" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabPostcode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabStreetAddress1"
						type="xsd:string" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="oabStreetAddress2"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="oabPhone" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="oabEmail" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="grossWt" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="currencyCode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="idType" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="idNumber" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="remark" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="payNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>

					<xsd:element name="orderStatus" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="orderProduct"
						type="tns:productDeatilType" maxOccurs="unbounded"
						minOccurs="1">
					</xsd:element>

					<xsd:element name="discountRate" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="deliveryFee" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="amount" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="couponRate" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="invoiceCode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="transactionOrderCode"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>


		
            <xsd:element name="updateOrder">
            	<xsd:complexType>
            		<xsd:sequence>
						<xsd:element name="HeaderRequest" type="tns:HeaderRequest"></xsd:element>
						<xsd:element name="OrderInfo" type="tns:UpdateOrderInfo"></xsd:element>
					</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateOrderResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="ask" type="xsd:string"></xsd:element>
            			<xsd:element name="message" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="orderCode"
            				type="xsd:string">
            			</xsd:element>

            			<xsd:element name="error"
            				type="tns:errorType" maxOccurs="unbounded" minOccurs="0">
            			</xsd:element>

            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateOrderStatus">
            	<xsd:complexType>
            		<xsd:sequence>
						<xsd:element name="HeaderRequest" type="tns:HeaderRequest"></xsd:element>
            			<xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            			<xsd:element name="orderStatus" type="xsd:int" maxOccurs="1" minOccurs="1">
            				<xsd:annotation>
            					<xsd:documentation>0,Delete; 1,draft; 2,confirm; 3,processing;</xsd:documentation>
            				</xsd:annotation>
            			</xsd:element>
            			<xsd:element name="remark" type="xsd:string" maxOccurs="1" minOccurs="0" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateOrderStatusResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="ask" type="xsd:string"
            				maxOccurs="unbounded" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="orderCode"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="message" type="xsd:string"
            				maxOccurs="unbounded" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="error" type="tns:errorType"
            				maxOccurs="unbounded" minOccurs="0">
            			</xsd:element>

            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getOrderByCode">
            	<xsd:complexType>
            		<xsd:sequence>
						<xsd:element name="HeaderRequest" type="tns:HeaderRequest"></xsd:element>
            			<xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>


            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getOrderByCodeResponse">
            	<xsd:complexType>
            		<xsd:sequence>

						<xsd:element name="ask" type="xsd:string"></xsd:element>


						<xsd:element name="Data" type="tns:OrderData" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Error"
							type="tns:errorType" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
            <xsd:complexType name="OrderData">
            	<xsd:sequence>

            		<xsd:element name="orderCode" type="xsd:string"></xsd:element>
            		<xsd:element name="orderType" type="xsd:string"></xsd:element>
            		<xsd:element name="warehouseCode"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="toWarehouseCode"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="smCode" type="xsd:string"></xsd:element>
            		<xsd:element name="orderStatus" type="xsd:string"></xsd:element>

            		<xsd:element name="countryName" type="xsd:string"></xsd:element>
            		<xsd:element name="provinceName"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="referenceNo" type="xsd:string"></xsd:element>
            		<xsd:element name="trackingNumber" type="xsd:string"></xsd:element>
            		<xsd:element name="consigneeName"
            			type="xsd:string">
            		</xsd:element>

            		<xsd:element name="consigneeCompany"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="consigneePostcode"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="consigneeAddress1"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="consigneeAddress2"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="consigneePhone"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="consigneeEmail"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="grossWt" type="xsd:string"></xsd:element>
            		<xsd:element name="currencyCode" type="xsd:string"></xsd:element>
            		<xsd:element name="idType" type="xsd:string"></xsd:element>
            		<xsd:element name="idNumber" type="xsd:string"></xsd:element>
            		<xsd:element name="Remark" type="xsd:string"></xsd:element>            		<xsd:element name="amount" type="xsd:string"></xsd:element>            		<xsd:element name="discountRate" type="xsd:string"></xsd:element>            		<xsd:element name="deliveryFee" type="xsd:string"></xsd:element>            		<xsd:element name="couponRate" type="xsd:string"></xsd:element>            		<xsd:element name="invoiceCode" type="xsd:string"></xsd:element>
            		<xsd:element name="transactionOrderCode" type="xsd:string"></xsd:element>


            		<xsd:element name="OrderDetailType" type="tns:OrderDetailType"
            			maxOccurs="unbounded" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
		


		
		



		
            <xsd:complexType name="OrderResponse">
            	<xsd:sequence>
            		<xsd:element name="ask" type="xsd:string"></xsd:element>
            		<xsd:element name="message" type="xsd:string"></xsd:element>
            		<xsd:element name="orderCode" type="xsd:string"></xsd:element>
            		<xsd:element name="orderStatu" type="xsd:int"></xsd:element>
            		
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="errorCode" type="xsd:string"></xsd:element>
            		<xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

		


		




		
        
            <xsd:complexType name="productDeatilType">
            	<xsd:sequence>
            		<xsd:element name="productSku" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="transactionPrice" type="xsd:float" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		<xsd:element name="dealPrice" type="xsd:float" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		<xsd:element name="invoicePrice" type="xsd:float" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="opQuantity" type="xsd:int"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="errorType">
            	<xsd:sequence>
            		<xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="UpdateOrderInfo">
            	<xsd:sequence>
            		<xsd:element name="orderCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>



            		<xsd:element name="warehouseCode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>



            		<xsd:element name="toWarehouseCode"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabCounty" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabStateName" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabCity" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabDistrict" type="xsd:string" maxOccurs="1" minOccurs="0" />
            		<xsd:element name="smCode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="referenceNo" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="trackingNumber" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabName" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="oabCompany" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>


            		<xsd:element name="oabPostcode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabStreetAddress1"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabStreetAddress2"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabPhone" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="oabEmail" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="grossWt" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="currencyCode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="charge" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>


            		<xsd:element name="idType" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="idNumber" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="remark" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="payNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="orderStatus" type="xsd:int"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="orderProduct"
            			type="tns:productDeatilType" maxOccurs="unbounded"
            			minOccurs="0">
            		</xsd:element>

            		<xsd:element name="discountRate" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="deliveryFee" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="amount" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="couponRate" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="invoiceCode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="transactionOrderCode"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>

            </xsd:complexType>
		
            <xsd:complexType name="OrderDetailType">
            	<xsd:sequence>
            		<xsd:element name="skuNo" type="xsd:string"></xsd:element>
            		<xsd:element name="skuName" type="xsd:string"></xsd:element>
            		<xsd:element name="skuCnName" type="xsd:string"></xsd:element>
            		<xsd:element name="quantity" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createShipbatch">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="HeaderRequest"
            				type="tns:HeaderRequest">
            			</xsd:element>
            			<xsd:element name="shipbatchInfo"
            				type="tns:shipbatchInfo">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="createShipbatchResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ask" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            			<xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="error"
            				type="tns:errorType" maxOccurs="unbounded" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="shipbatchCode"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
            <xsd:complexType name="shipbatchInfo">
            	<xsd:sequence>
            		<xsd:element name="warehouseCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="smCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="truckNo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="batchCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>

            		<xsd:element name="OrderInfo"
            			type="tns:ShipBatchOrderInfo" maxOccurs="unbounded"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="ShipBatchOrderInfo">
            	<xsd:sequence>
            		<xsd:element name="orderCode" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getShipbatchinfo">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="HeaderRequest "
            				type="tns:HeaderRequest">
            			</xsd:element>
            			<xsd:element name="shipbatchCode"
            				type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getShipbatchinfoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="getShipbatchinfoResponse" type="tns:getShipbatchinfoResponseType"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
            <xsd:complexType name="getShipbatchinfoResponseType">
            	<xsd:sequence>
            		<xsd:element name="ask" type="xsd:string"></xsd:element>
            		<xsd:element name="message" type="xsd:string"></xsd:element>
            		<xsd:element name="shipbatchCode"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="batchStatus" type="xsd:string"></xsd:element>
            		<xsd:element name="OrderInfo" type="tns:OrderInfoType"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="OrderInfoType">
            	<xsd:sequence>
            		<xsd:element name="orderCode" type="xsd:string"></xsd:element>
            		<xsd:element name="shipStatus" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createOrderRequest">
		<wsdl:part name="parameters" element="tns:createOrder"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrderResponse">
		<wsdl:part name="parameters" element="tns:createOrderResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateOrderRequest">
		<wsdl:part name="parameters" element="tns:updateOrder"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateOrderResponse">
		<wsdl:part name="parameters" element="tns:updateOrderResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateOrderStatusRequest">
		<wsdl:part name="parameters" element="tns:updateOrderStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateOrderStatusResponse">
		<wsdl:part name="parameters" element="tns:updateOrderStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrderByCodeRequest">
		<wsdl:part name="parameters" element="tns:getOrderByCode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrderByCodeResponse">
		<wsdl:part name="parameters" element="tns:getOrderByCodeResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createShipbatchRequest">
		<wsdl:part name="parameters" element="tns:createShipbatch"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createShipbatchResponse">
		<wsdl:part name="parameters" element="tns:createShipbatchResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShipbatchinfoRequest">
		<wsdl:part name="parameters" element="tns:getShipbatchinfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShipbatchinfoResponse">
		<wsdl:part name="parameters" element="tns:getShipbatchinfoResponse"></wsdl:part>
	</wsdl:message>

  <wsdl:message name="getTaxByCodeRequest">
    <wsdl:part name="parameters" element="tns:getTaxByCode" />
  </wsdl:message>

  <wsdl:message name="getTaxByCodeResponse">
    <wsdl:part name="parameters" element="tns:getTaxByCodeResponse" />
  </wsdl:message>

	<wsdl:portType name="ServiceForOrder">


		<wsdl:operation name="createOrder">
			<wsdl:input message="tns:createOrderRequest"></wsdl:input>
			<wsdl:output message="tns:createOrderResponse"></wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="updateOrderStatus">
			<wsdl:input message="tns:updateOrderStatusRequest"></wsdl:input>
			<wsdl:output message="tns:updateOrderStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrderByCode">
			<wsdl:input message="tns:getOrderByCodeRequest"></wsdl:input>
			<wsdl:output message="tns:getOrderByCodeResponse"></wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="updateOrder">
			<wsdl:input message="tns:updateOrderRequest"></wsdl:input>
			<wsdl:output message="tns:updateOrderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createShipbatch">
			<wsdl:input message="tns:createShipbatchRequest"></wsdl:input>
			<wsdl:output message="tns:createShipbatchResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShipbatchinfo">
			<wsdl:input message="tns:getShipbatchinfoRequest"></wsdl:input>
			<wsdl:output message="tns:getShipbatchinfoResponse"></wsdl:output>
		</wsdl:operation>

    <wsdl:operation name="getTaxByCode">
      <wsdl:input message="tns:getTaxByCodeRequest" />
      <wsdl:output message="tns:getTaxByCodeResponse" />
    </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceForOrderSOAP"
		type="tns:ServiceForOrder">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />


		<wsdl:operation name="createOrder">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/createOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="updateOrder">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/createOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateOrderStatus">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/updateOrderStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrderByCode">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/getOrderByCode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createShipbatch">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/createShipbatch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShipbatchinfo">
			<soap:operation
				soapAction="http://www.example.org/ServiceForOrder/getShipbatchinfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

    <wsdl:operation name="getTaxByCode">
      <soap:operation soapAction="http://www.example.org/ServiceForOrder/getTaxByCode" />
      <wsdl:input><soap:body use="literal" /></wsdl:input>
      <wsdl:output><soap:body use="literal" /></wsdl:output>
    </wsdl:operation>
	</wsdl:binding>


	
	<wsdl:service name="ServiceForOrder">
		<wsdl:port binding="tns:ServiceForOrderSOAP" name="ServiceForOrderSOAP">
			<soap:address location="http://imoms.globex.cn/default/order-soap/web-service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
