data/wsdl/ServiceForProduct.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServiceForProduct/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ServiceForProduct" targetNamespace="http://www.example.org/ServiceForProduct/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/ServiceForProduct/">
			
			<xsd:complexType name="HeaderRequest">
				<xsd:sequence>
					<xsd:element name="customerCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="appToken" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="appKey" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="createProduct">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="HeaderRequest"  type="tns:HeaderRequest" ></xsd:element>
						<xsd:element name="ProductInfo"  type="tns:ProductInfo" >
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="createProductResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ask" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="message" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>

						<xsd:element name="error" type="tns:errorType"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ProductInfo">
				<xsd:sequence>

					<xsd:element name="skuNo" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="skuName" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="skuEnName" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="skuCategory" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="UOM" type="xsd:string" maxOccurs="1"
						minOccurs="0">
					</xsd:element>
					<xsd:element name="barcodeType" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="barcodeDefine" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="length" type="xsd:float"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="width" type="xsd:float"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="height" type="xsd:float"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="weight" type="xsd:float"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="productCountry" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="product_declared_value"
						type="xsd:float" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="brand" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
					<xsd:element name="hs_code" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="distributorCode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>  
 
            <xsd:complexType name="errorType">
            	<xsd:sequence>
            		<xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="getStock">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="HeaderRequest"
            				type="tns:HeaderRequest">
            			</xsd:element>
            			<xsd:element name="skuNo"
            				type="xsd:string" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getStockResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ask" type="xsd:string"></xsd:element>
            			<xsd:element name="message" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="data"
            				type="tns:inventoryRow" maxOccurs="unbounded" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>

            <xsd:element name="getBatchStock">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="HeaderRequest"
                                     type="tns:HeaderRequest">
                        </xsd:element>
                        <xsd:element name="skuNoArr"
                                     type="xsd:string"
                                     maxOccurs="unbounded" minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getBatchStockResponse">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="ask" type="xsd:string"></xsd:element>
                        <xsd:element name="message" type="xsd:string">
                        </xsd:element>
                        <xsd:element name="error" type="xsd:string"
                                     maxOccurs="unbounded" minOccurs="0"></xsd:element>
                        <xsd:element name="data"
                                     type="tns:inventoryRow" maxOccurs="unbounded" minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
		
            <xsd:complexType name="inventoryRow">
            	<xsd:sequence>
            		<xsd:element name="skuNo" type="xsd:string" minOccurs="0"></xsd:element>
            		<xsd:element name="warehouseCode"
            			type="xsd:string" minOccurs="0" maxOccurs="1">
            		</xsd:element>
            		<xsd:element name="onwayQty" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            		<xsd:element name="pendingQty" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            		<xsd:element name="sellableQty"
            			type="xsd:string" minOccurs="0" maxOccurs="1">
            		</xsd:element>
            		<xsd:element name="unsellableQty"
            			type="xsd:string" minOccurs="0" maxOccurs="1">
            		</xsd:element>
            		<xsd:element name="reservedQty" type="xsd:string" minOccurs="1"></xsd:element>
            		<xsd:element name="shippedQty" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="expireQty" type="xsd:string" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getProductinfo">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="HeaderRequest"
            				type="tns:HeaderRequest" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="ProductSkuNo"
            				type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getProductinfoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ask" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="message" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="skuNo" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="productName" type="xsd:string" maxOccurs="1" minOccurs="0" />
            			<xsd:element name="hsProductName" type="xsd:string" maxOccurs="1" minOccurs="0" />
            			<xsd:element name="skuStatus" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="taxCode" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="taxName" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="taxRate" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="hsCode" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="backupCode" type="xsd:string"
            				maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="uom" type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="goodsModel"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="brand" type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="weight"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="declaredPrice"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createProductRequest">
		<wsdl:part name="parameters"  element="tns:createProduct"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createProductResponse">
		<wsdl:part name="parameters" element="tns:createProductResponse"></wsdl:part>
	</wsdl:message>



	<wsdl:message name="getStockRequest">
		<wsdl:part name="parameters" element="tns:getStock"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStockResponse">
		<wsdl:part name="parameters" element="tns:getStockResponse"></wsdl:part>
	</wsdl:message>

    <wsdl:message name="getBatchStockRequest">
        <wsdl:part name="parameters" element="tns:getBatchStock"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBatchStockResponse">
        <wsdl:part name="parameters" element="tns:getBatchStockResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="getProductinfoRequest">
    	<wsdl:part name="parameters" element="tns:getProductinfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProductinfoResponse">
    	<wsdl:part name="parameters" element="tns:getProductinfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServiceForProduct">

		<wsdl:operation name="createProduct">
			<wsdl:input message="tns:createProductRequest"></wsdl:input>
			<wsdl:output message="tns:createProductResponse"></wsdl:output>
		</wsdl:operation>



		<wsdl:operation name="getStock">
			<wsdl:input message="tns:getStockRequest"></wsdl:input>
			<wsdl:output message="tns:getStockResponse"></wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="getBatchStock">
            <wsdl:input message="tns:getBatchStockRequest"></wsdl:input>
            <wsdl:output message="tns:getBatchStockResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductinfo">
        	<wsdl:input message="tns:getProductinfoRequest"></wsdl:input>
        	<wsdl:output message="tns:getProductinfoResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServiceForProductSOAP"
    	type="tns:ServiceForProduct">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />


    	<wsdl:operation name="createProduct">
    		<soap:operation
    			soapAction="http://www.example.org/ServiceForProduct/createProduct" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>

    	<wsdl:operation name="getStock">
    		<soap:operation
    			soapAction="http://www.example.org/ServiceForProduct/getStock" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>

    	<wsdl:operation name="getBatchStock">
    		<soap:operation
    			soapAction="http://www.example.org/ServiceForProduct/getBatchStock" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>

    	<wsdl:operation name="getProductinfo">
    		<soap:operation
    			soapAction="http://www.example.org/ServiceForProduct/getProductinfo" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="ServiceForProduct">
		<wsdl:port binding="tns:ServiceForProductSOAP" name="ServiceForProductSOAP">
			<soap:address location="http://imoms.globex.cn/default/product-soap/web-service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
