data/wsdl/ServiceForOrderTracking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServiceForOrderTracking/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="ServiceForOrder" targetNamespace="http://www.example.org/ServiceForOrderTracking/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/ServiceForOrderTracking/">
            <xsd:complexType name="HeaderRequest">
                <xsd:sequence>
                    <xsd:element name="customerCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="appToken" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="appKey" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="getOrderTracking">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="HeaderRequest" type="tns:HeaderRequest"></xsd:element>
                        <xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOrderTrackingResponse">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="ask" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                        <xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="1">
                        </xsd:element>
                        <xsd:element name="orderCode" type="xsd:string" maxOccurs="1" minOccurs="0">
                        </xsd:element>
                        <xsd:element name="error" type="tns:errorType" maxOccurs="unbounded" minOccurs="0">
                        </xsd:element>
                        <xsd:element name="TrackingInfo" type="tns:TrackingInfo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="TrackingInfo">
                <xsd:sequence>
                    <xsd:element name="sot_location" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="sot_add_time"
                                 type="xsd:string" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="sot_description" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="sot_type" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="tracking_number" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="status_desc" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="errorType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getOrderTrackingRequest">
        <wsdl:part name="parameters" element="tns:getOrderTracking"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrderTrackingResponse">
        <wsdl:part name="parameters" element="tns:getOrderTrackingResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ServiceForOrderTracking">

        <wsdl:operation name="getOrderTracking">
            <wsdl:input message="tns:getOrderTrackingRequest"></wsdl:input>
            <wsdl:output message="tns:getOrderTrackingResponse"></wsdl:output>
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="ServiceForOrderTrackingSOAP" type="tns:ServiceForOrderTracking">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="getOrderTracking">
            <soap:operation soapAction="http://www.example.org/ServiceForOrderTrackingSOAP/getOrderTracking" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>


    <wsdl:service name="ServiceForOrderTracking">
        <wsdl:port binding="tns:ServiceForOrderTrackingSOAP" name="ServiceForOrderTrackingSOAP">
            <soap:address location="http://imoms.globex.cn/default/order-tracking-soap/web-service" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
